

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
		position: relative;
	}

	
	.icons{
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
	
	}
	.icons > a {
		margin: 6px;
	  }

	body,textarea {
		color: #ffffff;
		line-height: 1.75em;
	}

	a {
		border-bottom: dotted 1px;
		color: #ffffff;
		text-decoration: none;
	}


		a:hover {
			border-bottom-color: transparent;
			color: #3f61cf;
		}

	
	
	h1 {
		color: #ffffff;
		font-weight: 500;
		line-height: 1em;
		margin: 0 0 1em 0;
		font-size: 2.4em;
		line-height: 1.5em;
		font-family: 'Righteous', cursive;
	}

	h2 {
		color: #ffffff;
		margin: 0 0 1em 0;
		font-size: 7.4em;
		font-family: 'Kaushan Script', cursive;
	}


	h3 {
		color: #ffffff;
		font-weight: 400;
		line-height: 1em;
		margin: 0 0 1em 0;
		font-size: 1.25em;
		line-height: 1.5em;
	}

	#title{
		text-align: center;
	}


/* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
		margin-top: 1;
		margin-left: -4.5em;
	}

		.row > * {
			box-sizing: border-box;
			padding: 0 0 0 2.5em;
		}
		.row > .col-6 {
			width: 50%;
		}
	

/* Image */

	.image {
		border: 20px;
		display: inline-block;
		position: relative;
		border-radius: 10%;
		background-image: var("images/practicep.jpg"), linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
	}

			.image.avatar img {
				border-radius: 100%;
				width: 100%;
			}
/* Labeled Icons */

	ul.labeled-icons {
		list-style: none;
		padding: 0;
	}

/* Header */

	#header {
		display: flex;
		background-attachment: scroll;	
		background-repeat: repeat;
		flex-direction: column;
		background-size: 100%;
		color: rgba(255, 255, 255, 0.5);
		height: 100%;
		left: 0;
		padding: 8em 4em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 35%;
		border-right: 3px solid;
	}
		
		#header strong{
			color: #ffffff;
			font-size: 30px;
		}

		#header h1 {
			color: rgba(0, 0, 0,);
			font-size: 1.35em;
			line-height: 1.75em;
			margin: 0;
		}

		#header .image.avatar {
			margin: 0 0 2em 0;
			width: 8.25em;
		}


/* Main */

	#main {
		margin-left: 35%;
		max-width: 54em;
		padding: 3em 4em 4em 4em;
		width: calc(100% - 35%);
	}

		#main > section {
			border-top: solid 2px #efefef;
			margin: 4em 0 0 10;
			padding: 4em 0 0 0;
		}

			#main > section:first-child {
				border-top: 0;
				margin-top: 0;
				padding-top: 0;
			}

	@media screen and (max-width: 1800px) {
			body, input, select, textarea {
				font-size: 11pt;
			}

	}

	video{
		object-fit: cover;
		position: fixed;
		width: 100%;
		height: 200%;
	}
	#myVideo {
		position: fixed;
		margin:auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;   
	}

