@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
    font-family: "Times New Roman", sans-serif;
    background:url(bg.jpg);
    opacity: .7;
    width: auto;
    height: auto;
}
section {
    text-align: center;
}
h1{
    font-size:3rem;
    margin-bottom: -20px;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin: 50px auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    color: antiquewhite;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 3px #949494;
    border: 3px solid #050505;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
h2{
    font-size:2rem;
    margin-top:50px;
    margin-bottom: 0px;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}

.btncont{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-items: center;
    justify-content: center;
    width: auto;
    margin: auto;
    margin-top: 20px;
}

#btnprevious, #btnnext, #restart{
    background-color: rgb(51, 53, 85) ;
    cursor: pointer;
    border: 2px solid black;
    padding: .5em 2em;
    margin: 3px;
    color: white;
    font-size: 1em;
    font-weight:bold;
}

#restart:hover{
    background-color: rgb(149, 182, 212);
    color:black;

}
#btnprevious:hover{
    background-color: rgb(149, 182, 212);
    color:black;
} 

#btnnext:hover{
    background-color: rgb(149, 182, 212);
    color:black;
}
