.row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;  
  }
  
  .b1 {
    width: 4.5vw;
    height: 4.5vw;
    background-position: center;
    background-size: cover;
    background: white;
    text-align: center;
    font-size: 3vw;
    outline-style: double;
  }
  
  .b2 {
    width: 4.5vw;
    height:4.5vw;
    background: url(brown.jpg);
    text-align: center;
    font-size: 3vw;
    outline-style: double;
  }

h1{
    font-family: 'MedievalSharp', cursive;
    font-size:60px;
    font-weight: 900;
    text-align: center;
    color: rgb(165, 165, 165);
    text-shadow: -1px 0 black, 0 2px black, 5px 0 black, 0 -1px black;
}

html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.b1:hover{
opacity: .7;
}

.b2:hover{
  opacity: .9;
  }




#container{
  border: 10px solid;
  border-color: rgb(0, 46, 87);
  width: 35%;
  margin-left: auto;
  margin-right: auto;  
}
